
body {
  font-family: 'Chivo', sans-serif;
}

.app-title {
  text-align: center;
}

.rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.room-list {
  background-color: grey;
  border: solid gray;
  border-radius: 5px;
  width: 30%;
  padding: 0.5em;
  margin: 0.5em;
}

.message-list {
  background-color: grey;
  border: solid gray;
  border-radius: 5px;
  width: 70%;
  padding: 0.5em;
  margin: 0.5em;
}
